@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-size: 16px;
}
body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-dark-section);
}
.container-fluid{
    max-width: 1384px;
}
header{
    background-color: #000;
}
:root{
    --color-naranjo-wicar:#FB5F00;
    --color-naranjohover-wicar:#BC4D0A;
    --color-dark-section:#1C1C1C;
}
.bg-black{
    background-color: #000;
}
.text-orange{
    color: var(--color-naranjo-wicar);
}
.nav-link{
    font-size: 16px;
}
.bg-naranjo{
    background-color: var(--color-naranjo-wicar) !important;
}
.color-naranjo{
    color: var(--color-naranjo-wicar) !important;
}
.section-slide, .carousel-indicators{
    background-color: var(--color-dark-section);
}
.carousel-indicators{
    margin-block-end:0;
    padding-bottom: 1rem;
}
.btn-wicar-header{
    display: flex;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--color-naranjo-wicar);
    border-radius:5px;
    transition: all 0.3s ease 0s;
}
.btn-wicar-header:hover{
    text-decoration: none;
    color:#fff;
    background-color: var(--color-naranjohover-wicar);
}
#main-slide-wicar .carousel-indicators [data-target]{
    width: 60px;
    height: 4px;
    opacity: 1;
    margin-right: 6px;
    margin-left: 6px;
}
#main-slide-wicar .carousel-indicators .active{
    background-color: var(--color-naranjo-wicar);
    opacity: 1 !important;
}
#main-slide-wicar .carousel-caption h2{
    font-size: 40px;
    font-weight: 700;
}
.titulo-wicar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.titulo-wicar span{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}
.section-quees .titulo-wicar span:first-child, #cuando-lo-uso .titulo-wicar span:first-child{
    margin-right:.4em;
}
.titulo-wicar img{
    height: 48px;
}
.section-quees{
    padding: 90px 0 21px;
    background-color: var(--color-dark-section);
}
.acceso-movil, .acceso-web{
    position: relative;
}
/*.acceso-movil .imagen, .acceso-web .imagen{
    position: absolute;
    bottom: 0;
    top: 0;
    width: 326px;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
.acceso-movil .div-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 257px;
}
.acceso-movil .box, .acceso-web .box{
    background-color: #000;
    width: 100%;
    padding: 18px 10px 18px 16px;
    height: 287px;
}
.box h3{
    font-size: 22px;
    font-weight: 700;
    color: var(--color-naranjo-wicar);
    margin-bottom: 27px;
}
.btn-acceso-web{
    background-color: var(--color-naranjo-wicar);
}
.btn-acceso-web:hover{
    text-decoration: none;
    background-color: var(--color-naranjohover-wicar);
}
.div-telefono, .box-borde{
    border:1px solid #fff;  
}
.box-borde{
    border-radius: 11px;
}
ol{
    margin: 0;
}
.div-telefono{
    margin-bottom: 124px;
}
.div-telefono h2, .servicios-principales .titulo-servicios .text-orange, .pasos-seccion .titulo-servicios .text-orange{
    font-size: 26px;
    color: var(--color-naranjo-wicar);
    font-weight: bold;
}
.pasos-seccion{
    padding-bottom: 124px;
}
.div-telefono p, .div-telefono h2{
    margin:0;
}
.div-telefono .tel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 14px;
}
.div-telefono .tel span{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.div-telefono .tel span.divisor{
    display: block;
    height: 18px;
    width: 1px;
    background-color: #fff;
    margin: 0 1rem;
}
.pasos-deescarga .separador{
    height: 100%;
}
.pasos-deescarga .contenido{
    max-width: 30%;
}
.acordeon-holder{
    gap: 21px;
}
.acordeon-item .acordeon-header a{
    background-color: #000;
    display: grid;
    align-items: center;
    grid-template-columns: 56px auto 10px;
    padding: 18px 27px;
    border-radius: 11px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    transition: color .3s ease 0s;
}
.acordeon-item .acordeon-header a:hover, .acordeon-item .acordeon-header a.active{
    color: var(--color-naranjo-wicar);
}
.acordeon-item .acordeon-header a svg path, .acordeon-item .acordeon-header a svg{
    transition: all .3s ease 0s;
}
.acordeon-item .acordeon-header a.active svg{
    transform: rotate(90deg);
}
.acordeon-item .acordeon-header a:hover svg path, .acordeon-item .acordeon-header a.active svg path{
    fill: var(--color-naranjo-wicar);
}
.acordeon-item .acordeon-header a:hover img, .acordeon-item .acordeon-header a.active img{
    filter: contrast(40%) sepia(1) hue-rotate(318deg) saturate(1000%);
}
.titulo-acordeon{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-naranjo-wicar);
    margin-bottom: 26px;
}
.list-check{
    margin-top: 2rem;
    color: #fff;
    list-style-image: url(../img/icono-check.svg);
}
.list-check li{
    margin-bottom: 2rem;
}
.acordeon-tab-item:not(.d-none){
    opacity: 0;
    animation: deslizar .5s ease-in-out forwards;
}
.carrusel-cuando-usar .item-carrusel{
    padding: 19px 13px 17px;
    border: 1px solid #fff;
    max-width: 350px;
    display: grid;
    grid-auto-rows: 50px 50px auto;
}
.carrusel-cuando-usar .item-carrusel h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
}
.carrusel-cuando-usar .item-carrusel p{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 2rem;
    color: #fff;
}
#cuando-lo-uso .owl-nav:not(.disabled){
    transform: translatey(-240px);
    width: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cuando-lo-uso .owl-nav button.owl-prev span, #cuando-lo-uso .owl-nav button.owl-next span{
    background-image: url('../img/ionic-ios-arrow-dropleft.svg');
    display: block;
    width: 38px;
    height: 38px;
    overflow: hidden;
    text-indent: 100vw;
  }
  
#cuando-lo-uso .owl-nav button.owl-prev span{
    transform: rotate(180deg);
    margin-left: -45px;
}
#cuando-lo-uso .owl-nav button.owl-next span{
    margin-right: -45px;
}
#cuando-lo-uso .owl-dots button.owl-dot.active span{
    background-color: var(--color-naranjo-wicar);
}
.owl-item{
display: flex;
justify-content: center;
}

.box-gris{
    background-color: #1C1C1C;
    color:#fff
}
.box-gris ol li{
    margin-bottom: 16px;
}
.title--28{
    font-size: 28px;
    font-weight: bold;
}

.card-plan h2{
    font-size: 18px;
    font-weight: bold;
}
.card-plan h3{
    font-size: 22px;
    font-weight: bold;
}
.card-plan .precio{
    font-size: 40px;
    font-weight: bold;
}
.card-plan .precio small{
    font-size: 14px;
    font-weight:normal;
}
.card-plan .list-check{
    color: #000;
}
.card-plan .list-check li {
    margin-bottom: 1rem;
}
.card-plan .list-check li >  ul{
    list-style-image: none;
    list-style-type: disc;
    padding: 0;
    margin-top: 1rem;
}
.card-plan .list-check li >  ul li{
    margin-bottom: 1rem;
    color: #000;
}
.top-planes{
    min-height: 108px;
}

.terminos-condiciones {
    background-color: #fff;
}
.terminos-condiciones h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.terminos-condiciones p, 
.terminos-condiciones ol li, 
.terminos-condiciones ul li {
    margin-bottom: 1.5rem;
}
.terminos-condiciones ol, 
.terminos-condiciones ul {
    padding-left: 1.5rem;
}

footer h4{
   font-size: 20px;
   font-weight: bold; 
   margin-bottom: 1rem;
}
footer ul{
    margin:0;
    padding-inline-start: 19px;
}
footer ul li, footer ul li a{
    color:#fff;
    font-size: 16px;
    text-decoration: none;
}
footer ul li{
    margin-bottom: 1rem;
}
footer ul li a:hover{
    color: var(--color-naranjo-wicar);
}
@keyframes deslizar {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
@media (min-width:1200px){
    .section-slide picture:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.8);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
    .tabla-marcas-row{
        display: grid;
        grid-template-columns: 1fr 7fr;
        color:#fff;
        border:1px solid #fff;
        border-top: 0 none;
        align-items: stretch;
    }
    .tabla-marcas-row a{
        color:#fff;
    }
    .tabla-marcas-row.tabla-header{
        color:var(--color-naranjo-wicar);
        border:1px solid #fff;
    }
    .tabla-marcas-column-secondary, .tabla-marcas-column{
        padding: .5rem;
        border-right:1px solid #fff;
    }
    .tabla-marcas-row .inner-column{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: stretch;
        text-align: center;
        padding: 0;
    }
    .tabla-marcas-row .inner-column .tabla-marcas-column-secondary:last-child{
        border:0 none;
    }
    .inner-column .tabla-marcas-column-secondary{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inner-column .tabla-marcas-column-secondary img{
        width: 30px;
    }
    .card-plan{
        border-radius: 10px;
        min-height: 904px;
    }
    .card-plan .btn-acceso-web {
        position: absolute;
        width: 78%;
        bottom: 0;
    }
}
@media (max-width:1199.98px) {
    *{
        font-size: 14px;
    }
    .section-slide, .carousel-indicators{
        background-color: #000000;
    }
    .carousel-caption{
        background-color: black;
        position: relative;
        height: auto !important;
        margin: 0 auto;
        width: 100%;
        left: auto;
        right: auto;
        padding: 1.25rem 1rem;
        bottom: auto;
    }
    #main-slide-wicar .carousel-indicators [data-bs-target]{
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    #main-slide-wicar .carousel-caption h2{
        font-size: 28px;
    }
    .titulo-wicar span{
        font-size: 25px;
    }
    .titulo-wicar img{
        height: 25px;
    }
    .section-quees{
        padding: 45px 0 40px;
    }
    #main-slide-wicar .carousel-indicators [data-target]{
        width: 9px;
        height: 9px;
        opacity: 1;
        margin-right: 6px;
        margin-left: 6px;
        border-radius: 50%;
        background-color: #999999;
    }
    #main-slide-wicar .carousel-indicators .active{
        background-color: var(--color-naranjo-wicar);
        opacity: 1 !important;
    }
    .acceso-movil .box, .acceso-web .box{
        height: auto;
    }
    .acceso-movil .box p , .acceso-web .box p{
        line-height: 16px;
    }
    .div-telefono{
        margin-bottom: 92px;
    }
    .div-telefono .tel{
        flex-direction: column;
    }
    .div-telefono .tel span{
        font-size: 18px;
    }
    .div-telefono .tel span.divisor{
        display: none;
    }
    .div-telefono h2, .servicios-principales .titulo-servicios .text-orange, .pasos-seccion .titulo-servicios .text-orange{
        font-size: 22px;
    }
    .pasos-deescarga .separador{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .pasos-deescarga .separador, .pasos-deescarga .contenido{
        width: 100%;
        max-width: unset;
    }
    .tabla-marcas-row.tabla-header{
        display: none;
    }
    .marca-header a{
        position: relative;
        background-color: #000;
        display: grid;
        align-items: center;
        grid-template-columns:auto 10px;
        padding: 18px 27px;
        border-radius: 11px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        transition: color .3s ease 0s;
    }
    .marca-header a:after{
        content:url("data:image/svg+xml,%3Csvg id='icon-arrow-24' xmlns='http://www.w3.org/2000/svg' width='7.026' height='11.71' viewBox='0 0 7.026 11.71'%3E%3Cpath id='Path' d='M7.026,11.71H5.211L0,5.832,5.152,0H6.985L2.471,5.832Z' transform='translate(7.026 11.71) rotate(180)' fill='%23fff'/%3E%3C/svg%3E");
        transition: all .3s ease 0s;
    }
    .marca-header a.open{
        color: var(--color-naranjo-wicar);
    }
    .marca-header a.open:after{
        content:url("data:image/svg+xml,%3Csvg id='icon-arrow-24' xmlns='http://www.w3.org/2000/svg' width='7.026' height='11.71' viewBox='0 0 7.026 11.71'%3E%3Cpath id='Path' d='M7.026,11.71H5.211L0,5.832,5.152,0H6.985L2.471,5.832Z' transform='translate(7.026 11.71) rotate(180)' fill='%23FB5F00'/%3E%3C/svg%3E");
        transform: rotate(90deg);
    }
    .tabla-marcas-column.inner-column{
        padding:2rem;
        display: none;
        grid-template-columns: 100%;
        gap:1rem;
    }
    .tabla-marcas-row{
        margin-bottom: 1rem;
    }
    .tabla-marcas-row.open .tabla-marcas-column.inner-column{
        display: grid;
    }
    .tabla-marcas-column-secondary{
        color:#fff;
       /* display: flex;
        align-items: center;
        justify-content: flex-start;
        align-items: center;*/
        display: grid;
        grid-template-areas: 'icono texto'
                                'icono texto2';
        grid-template-columns: 3rem auto;
    }
    .tabla-marcas-column-secondary img{
        grid-area: icono;
    }
    .tabla-marcas-column-secondary span{
        grid-area: texto;
    }
    
    .tabla-marcas-column-secondary span{
        color: var(--color-naranjo-wicar);
    }
    .tabla-marcas-column-secondary img{
        width: 30px;
        margin-right: 1rem;
    }
    .card-plan{
        margin-bottom: 56px;
        border-radius: 10px;
    }
}
@media (max-width:960px){
    #ubicacion .image-ubicacion {
        position: absolute;
        z-index: 2;
        bottom: -1.3rem;
        right: 0;
        display: inline-block !important;
        width: auto;
    }
}
@media (max-width: 390px){
    .titulo-wicar span {
        font-size: 22px;
    }
    .titulo-wicar img {
        height: 22px;
    }
}